* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  overflow-x: hidden;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  transition: background-color 0.7s ease, color 0.7s ease;
  overflow-x: hidden;
}

.dark {
  background-color: black;
  color: white;
}

body.dark a {
  color: white;
}

h1,
h2,
h3 {
  font-family: "Ranade", sans-serif;
  font-weight: 400;
  color: rgb(82, 80, 80);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  z-index: 10;
  align-items: center;
  padding: 0 7%;
  border-bottom: 1px solid black;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: beige;
  transition: background-color 0.7s ease;
}

body.dark nav {
  border-bottom: 1px solid rgb(58, 110, 253);
  background-color: black;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

nav .logo img {
  width: 40px;
  border-radius: 50%;
}

nav svg {
  width: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: space-between;
  overflow: hidden;
}

nav ul li {
  transition: all 0.3s ease;
  position: relative;
}

ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background: rgb(20, 79, 240);
  transition: width 0.3s ease;
}

ul li:hover::after {
  width: 100%;
}

nav ul li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(7, 6, 6);
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

nav ul li:hover {
  color: rgb(14, 44, 126);
  transform: scale(1.1);
}

/* togle-menu */
.tombol {
  width: 100px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}

nav .togle-menu {
  display: none;
}

.togle-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  position: relative;
  border-radius: 30px;
  height: 35px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.togle-mode.ubah {
  border: 2px solid rgb(255, 255, 255);
}

.togle-mode svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.togle-mode.active {
  border: 1px solid rgb(20, 79, 240);
}

.togle-mode svg:nth-child(1) {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
}
.togle-mode svg:nth-child(2) {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) rotate(-180deg) scale(0.5);
}
.togle-mode.active svg:nth-child(1) {
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) rotate(180deg) scale(0.5);
}
.togle-mode.active svg:nth-child(2) {
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
  color: rgb(28, 32, 245);
  opacity: 1;
  visibility: visible;
}

.togle-mode.ubah svg:nth-child(1) {
  color: white;
}

nav .logo h1 span {
  color: rgb(20, 79, 240) !important;
}

/* ============== beranda ================== */
.container1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.7s ease;
  background: linear-gradient(
    to bottom,
    rgb(0, 38, 255) 0%,
    rgb(3, 24, 161) 60%
  );
  color: white;
}

.container1.dark {
  background: black;
}

.container1 h2 {
  font-size: 3rem;
  color: white;
}

.wrapper {
  width: 300px;
  height: 100px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plLanjut {
  width: 50px;
  height: 25px;
  font-size: 1rem;
  background-color: rgb(52, 103, 243);
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
}

.container1 .wrapper a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*============================== responsif ======================= */
/* laptop */
@media screen and (max-width: 1200px) {
  nav .logo h1 {
    font-weight: 800;
    font-size: 1rem;
  }

  nav ul {
    /* background-color: #3f82ff; */
    width: 65%;
  }
  nav ul li a {
    font-size: 0.8rem;
  }

  /* beranda */
  .container1 {
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgb(0, 38, 255) 0%,
      rgb(3, 24, 161) 60%
    );
    color: white;
  }

  .container1.dark {
    background: black;
  }

  .container1.dark h2 span {
    filter: drop-shadow(0 0 10px rgba(3, 243, 203, 0.5));
    background: linear-gradient(to right, rgb(4, 59, 241), #3f82ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .container1.dark h2 {
    color: rgb(107, 105, 105);
  }

  .container1 h2 {
    color: white;
    font-size: 3rem;
  }

  .container1 h2 span {
    /* background: linear-gradient(to right, rgb(196, 140, 36), #ffe819); */
    background-color: rgb(150, 150, 150);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 10px rgba(3, 243, 203, 0.5));
  }

  .wrapper {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 10px;
  }

  .container1 .wrapper a {
    text-decoration: none;
  }

  .container1.dark .wrapper p {
    color: rgb(214, 212, 212);
  }

  .plLanjut {
    width: 50px;
    text-align: center;
    line-height: 22px;
    height: 22px;
    background-color: beige;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: rgb(252, 212, 82);
  }

  .container1.dark .plLanjut {
    background-color: rgb(31, 64, 255);
    color: white;
  }
}
/* tablet ==================*/
@media screen and (max-width: 768px) {
  nav ul {
    position: fixed;
    width: 60%;
    height: 100vh;
    top: 0;
    opacity: 0;
    right: 0;
    transform: translateX(100%);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(22, 22, 231, 1);
    transition: all 0.7s ease;
    visibility: hidden;
  }
  nav .logo h1 {
    font-weight: 700;
  }

  nav ul li a {
    font-size: 1.1rem;
    color: white;
  }

  nav .togle-menu {
    display: flex;
    height: 19px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  nav .togle-menu span {
    width: 28px;
    height: 2px;
    background-color: blue;
    transition: transform 0.7s ease;
  }

  nav .togle-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: white;
  }
  nav .togle-menu.active span:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }
  nav .togle-menu.active span:nth-child(3) {
    background-color: white;
    transform: translateY(-8px) rotate(-45deg);
  }

  nav.dark ul {
    background-color: black;
  }

  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    /* background-color: rgba(22, 22, 231, 1); */
  }

  /* beranda */
  .container1 {
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgb(0, 38, 255) 0%,
      rgb(3, 24, 161) 60%
    );
    color: white;
  }

  .container1.dark {
    background: black;
  }

  .container1.dark h2 span {
    filter: drop-shadow(0 0 10px rgba(3, 243, 203, 0.5));
    background: linear-gradient(to right, rgb(4, 59, 241), #3f82ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .container1.dark h2 {
    color: rgb(107, 105, 105);
  }

  .container1 h2 {
    color: white;
    font-size: 3rem;
  }

  .container1 h2 span {
    /* background: linear-gradient(to right, rgb(196, 140, 36), #ffe819); */
    background-color: rgb(150, 150, 150);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 10px rgba(3, 243, 203, 0.5));
  }

  .wrapper {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 10px;
  }

  .container1 .wrapper a {
    text-decoration: none;
  }

  .container1.dark .wrapper p {
    color: rgb(214, 212, 212);
  }

  .plLanjut {
    width: 50px;
    text-align: center;
    line-height: 22px;
    height: 22px;
    background-color: beige;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: rgb(252, 212, 82);
  }

  .container1.dark .plLanjut {
    background-color: rgb(31, 64, 255);
    color: white;
  }
}
/* mobile ================================== */
@media screen and (max-width: 550px) {
  nav ul {
    background-color: rgb(97, 97, 255);
    width: 70%;
  }

  nav .logo h1 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  /* beranda */
  .container1 {
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgb(0, 38, 255) 0%,
      rgb(3, 24, 161) 60%
    );
    color: white;
  }

  .container1.dark {
    background: black;
  }

  .container1.dark h2 span {
    filter: drop-shadow(0 0 10px rgba(3, 243, 203, 0.5));
    background: linear-gradient(to right, rgb(4, 59, 241), #3f82ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .container1.dark h2 {
    color: rgb(107, 105, 105);
  }

  .container1 h2 {
    color: white;
    font-size: 3rem;
  }

  .container1 h2 span {
    /* background: linear-gradient(to right, rgb(196, 140, 36), #ffe819); */
    background-color: rgb(150, 150, 150);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 10px rgba(3, 243, 203, 0.5));
  }

  .wrapper {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    gap: 10px;
  }

  .container1 .wrapper a {
    text-decoration: none;
  }

  .container1.dark .wrapper p {
    color: rgb(214, 212, 212);
  }

  .plLanjut {
    width: 50px;
    text-align: center;
    line-height: 22px;
    height: 22px;
    background-color: beige;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: rgb(252, 212, 82);
  }

  .container1.dark .plLanjut {
    background-color: rgb(31, 64, 255);
    color: white;
  }
}

/* mobile mini */
@media screen and (max-width: 300px) {
  nav ul {
    width: 65%;
  }
}
